@model ApartamentoViewModel
@{
    ViewData["Title"] = "Apartamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="text-center">
    <h2>Cadastro de Apartamento</h2>
    <br />
    <br />
    <div class="row justify-content-center">
        <form action="Save" method="post" class="col-md-6">

            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

            <label for="Id" class="control-label">Código:</label>
            <input asp-for="ID" class="form-control text-center" readonly />

            <span asp-validation-for="ID" class="text-danger"></span>
            <br />

            <label for="Nome" class="control-label">Nome:</label>
            <input asp-for="Nome" class="form-control text-center" />
            <span asp-validation-for="Nome" class="text-danger"></span>
            <br />

            <label for="DataCadastro" class="control-label">Data de Cadastro:</label>
            <input asp-for="DataCadastro" type="date" value="@Model.DataCadastro.ToString("yyyy-MM-dd")" class="form-control text-center" />
            <span asp-validation-for="DataCadastro" class="text-danger"></span>
            <br />

            <label for="ID_Torre" class="control-label">Torre:</label>
            <select asp-for="ID_Torre" asp-items="ViewBag.Torres" class="form-control text-center"> </select>
            <span asp-validation-for="ID_Torre" class="text-danger"></span>

            <label for="ID_Sensor" class="control-label">Sensor</label>
            <select asp-for="ID_Sensor" asp-items="ViewBag.Sensores" class="form-control"> </select>
            <span asp-validation-for="ID_Sensor" class="text-danger"></span>
            <br />

            <br />
            <br />
            <a href="/Apartamento" class="btn btn-info" style="background-color: #08626f !important; border-color: #08626f !important ">Voltar</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Salvar dados" class="btn btn-info" />
            <br />
        </form>
    </div>
</body>