@model List<ApartamentoViewModel>
@{
    ViewData["Title"] = "Apartamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="buscaApartamentos()">
    <h2 class="text-center">Apartamentos</h2>
    <br />
    <fieldset id="areaFiltro" class="form-group">
        <div class="row justify-content-center">
            <div class="col-lg-1">
                Código <br />
                <input type="text" id="codigo" class="form-control" />
            </div>
            <div class="col-lg-3">
                Nome <br />
                <input type="text" id="nome" class="form-control" />
            </div>
            <div class="col-lg-2">
                Data de Cadastro <br />
                <input type="date" id="dataInicial" class="form-control" />
            </div>
            <div hidden class="col-lg-2">
                <br />
                <input type="date" id="dataFinal" class="form-control" />
            </div>
            <div class="col-lg-3">
                Torre <br />
                <select id="torre" class="form-control" asp-items="@ViewBag.Torres"></select>
            </div>
            <div class="col-lg-3">
                Sensor <br />
                <select id="sensor" class="form-control" asp-items="@ViewBag.Sensores"></select>
            </div>
            <div class="col-lg-1">
                <br />
                <input type="button" id="btnFiltro" class="btn btn-info" value="Aplicar"
                       onclick="buscaApartamentos()" />
            </div>
        </div>
    </fieldset>

    <br />
    <a href="/Apartamento/Create" class="btn btn-info">Cadastrar novo <u>Apartamento</u></a>
    <br />
    <br />
    <div id="resultadoConsulta" class="table-responsive"></div>
</body>