@{
    ViewData["Title"] = "Home";
}


<style>
    .logo {
        max-width: 25%;
        height: auto;
        border-radius: 100%;
        border: 1px solid white;
        box-sizing: border-box;
    }
</style>

<body>
    <div class="text-center">
        <img src="\img\logo.jpeg" class="logo" alt="Logo da Empresa">

        <br />
        <br />
        <br />
        <h2>Boas Vindas!</h2>
        <p>
            Aqui você poderá visualizar e gerenciar o consumo de água de cada apartamento!
            <br />
            Faça o login ou registre-se para começar
        </p>
    </div>
</body>
