@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="text-center">
        <img src="/img/logo.png" class="logo" alt="Logo da Empresa">

        <h1>Boas Vindas!</h1>
        <p>
            Aqui você poderá visualizar e gerenciar o consumo de água de cada apartamento!
            <br />
            Faça o login ou registre-se para começar
        </p>
    </div>
</body>
