@{
    ViewData["Title"] = "Home";
}


<body>
    <div class="text-center">
        <img src="/img/logo.png" class="logo" alt="Logo da Empresa">

        <h1 style="color: #101726 !important"><b>Desvende o fluxo da vida, estrela por estrela, controlando cada gota de um futuro consciente</b></h1>
    </div>

    <div class="lds-circle"></div>
</body>
