@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Administração do <b>StarFlux</b></h1>
    <h2>Boas Vindas!</h2>
    <p>
        Aqui você poderá visualizar e gerenciar o consumo de água de cada apartamento!
        <br />
        Faça o login ou registre-se para começar
    </p>
</div>
