@*@{
        ViewData["Title"] = "Home";
    }


    <body>
        <div class="text-center">
            <img src="/img/logo.png" class="logo" alt="Logo da Empresa">

            <h3 style="color: #101726 !important"><b>Desvende o fluxo da vida, estrela por estrela, controlando cada gota de um futuro consciente</b></h3>
        </div>

        <div class="lds-circle"></div>
    </body>*@

@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="text-center">
        <img src="/img/logo.png" class="logo" alt="Logo da Empresa">

        <h3 style="color: #101726 !important"><b>Desvende o fluxo da vida, estrela por estrela, controlando cada gota de um futuro consciente</b></h3>
    </div>
    <br />
    <br />
    <br />
    <section class="features">
        <div class="row">
            <div class="col-md-4">
                <h4 style="color: #101726 !important">Recursos Principais:</h4>
                <br />
                <p style="color: #1693a5 !important">Controle preciso e em tempo real do consumo de água por apartamento.</p>
                <p style="color: #1693a5 !important">Relatórios detalhados de consumo para análise de eficiência.</p>
                <p style="color: #1693a5 !important">Integração fácil com sistemas de gestão existentes.</p>
                <p style="color: #1693a5 !important">Monitoramento de vazamentos em tempo real.</p>
                <p style="color: #1693a5 !important">Alertas automatizados para consumo anormal de água.</p>
            </div>
            <div class="col-md-4">
                <h4 style="color: #101726 !important">Depoimentos de Clientes:</h4>
                <br />
                <p style="color: #1693a5 !important">"A StarFlux revolucionou nossa gestão de água. Excelente serviço!" - Cliente Satisfeito</p>
                <p style="color: #1693a5 !important">"Eficiência e transparência são as marcas da StarFlux. Recomendo!" - Parceiro de Negócios</p>
                <p style="color: #1693a5 !important">"Nosso condomínio viu uma redução notável no desperdício de água desde que implementamos o sistema da StarFlux." - Síndico</p>
                <p style="color: #1693a5 !important">"A StarFlux oferece soluções inovadoras que realmente fazem a diferença no controle do consumo de água." - Especialista em Sustentabilidade</p>
                <p style="color: #1693a5 !important">"Estou impressionado com o compromisso da StarFlux em criar um impacto positivo no uso de recursos hídricos." - Ambientalista</p>
            </div>
            <div class="col-md-4">
                <h4 style="color: #101726 !important">Últimas Notícias:</h4>
                <br />
                <ul>
                    <li style="color: #1693a5 !important"><u>Novos recursos de monitoramento lançados!</u></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li style="color: #1693a5 !important"><u>StarFlux premiada por inovação em tecnologia sustentável</u></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li style="color: #1693a5 !important"><u>Dicas para economizar água em apartamentos</u></a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li style="color: #1693a5 !important"><u>Como a StarFlux está impactando positivamente o meio ambiente</u></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li style="color: #1693a5 !important"><u>Parcerias estratégicas expandem o alcance das soluções StarFlux</u></li>
                </ul>
            </div>
        </div>
    </section>
</body>