@{
    ViewData["Title"] = "Sobre";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">




<style>
    ul {
        list-style: none;
        padding: 0;
    }

        ul li {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    .github-icon {
        font-size: 36px;
        color: black;
    }

    .linkedin-icon {
        font-size: 36px;
    }

    .align-right {
        margin-left: auto;
    }
</style>

<body>
    <div class="text-center">
        <h1>Integrantes</h1>

        <h5>Este projeto foi criado por:</h5>
        <p>
            <br />
            <br />
            <ul>
                <li>
                    <i class="fa fa-cloud"></i>
                    &nbsp;&nbsp;
                    <b style="font-size: 135%">Adriana Monteiro Martani - RA: 082210012</b>
                    <span class="align-right">
                        <a href="https://github.com/adrianamartani" target="_blank">
                            <i class="fa-brands fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/adriana-monteiro-martani-41b237221?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                            <i class="fa-brands fa-linkedin-in linkedin-icon"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <i class="fa fa-terminal"></i>
                    &nbsp;&nbsp;
                    <b style="font-size: 135%">Davi Teramoto Matheus - RA: 082220036</b>
                    <span class="align-right">
                        <a href="https://github.com/daviteramoto" target="_blank">
                            <i class="fa-brands fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/daviteramoto/" target="_blank">
                            <i class="fa-brands fa-linkedin-in linkedin-icon"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <i class="fa fa-code"></i>
                    &nbsp;&nbsp;
                    <b style="font-size: 135%">Gustavo Correia Scarabeli - RA: 082210030</b>
                    <span class="align-right">
                        <a href="https://github.com/gscarabeli" target="_blank">
                            <i class="fa-brands fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/gustavo-scarabeli/" target="_blank">
                            <i class="fa-brands fa-linkedin-in linkedin-icon"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <i class="fa fa-microchip"></i>
                    &nbsp;&nbsp;
                    <b style="font-size: 135%">Leonardo de Carlos Rodrigues - RA: 082220038</b>
                    <span class="align-right">
                        <a href="https://github.com/Leon4rduu" target="_blank">
                            <i class="fa-brands fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/leonardo-rodrigues-471a611b8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" _blank">
                            <i class="fa-brands fa-linkedin-in linkedin-icon"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <i class="fa fa-laptop"></i>
                    &nbsp;&nbsp;
                    <b style="font-size: 135%">Matheus Galdino Xavier - RA: 082210042</b>
                    <span class="align-right">
                        <a href="https://github.com/Matheus343" target="_blank">
                            <i class="fa-brands fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/matheus-galdino-xavier-48a229226?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                            <i class="fa-brands fa-linkedin-in linkedin-icon"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </p>
    </div>
</body>