@{
    ViewData["Title"] = "Sobre";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    ul {
        list-style: none;
        padding: 0;
    }

        ul li {
            display: flex;
            align-items: center;
            justify-content: space-between; /* Adiciona espaço entre os elementos */
            margin-bottom: 10px;
        }

    .github-icon {
        font-size: 36px;
        color: black;
    }

    .linkedin-icon {
        font-size: 36px;
    }

    .align-right {
        margin-left: auto; /* Move os elementos para a direita */
    }
</style>

<body>
    <div class="text-center">
        <h1>Creators</h1>

        <p>
            Este programa foi criado por:
            <ul>
                <li>
                    <b>Adriana Monteiro Martani - RA: 082210012</b>
                    <span class="align-right">
                        <a href="https://github.com/gscarabeli" target="_blank">
                            <i class="fa fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/adriana-monteiro-martani-41b237221?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                            <i class="fa fa-linkedin linkedin-icon"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <b>Davi Teramoto Matheus - RA: 082220036</b>
                    <span class="align-right">
                        <a href="https://github.com/gscarabeli" target="_blank">
                            <i class="fa fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/adriana-monteiro-martani-41b237221?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                            <i class="fa fa-linkedin linkedin-icon"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <b>Gustavo Correia Scarabeli - RA: 082210030</b>
                    <span class="align-right">
                        <a href="https://github.com/gscarabeli" target="_blank">
                            <i class="fa fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/gustavo-scarabeli/" target="_blank">
                            <i class="fa fa-linkedin linkedin-icon"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <b>Leonardo de Carlos Rodrigues - RA: 082220038</b>
                    <span class="align-right">
                        <a href="https://github.com/gscarabeli" target="_blank">
                            <i class="fa fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/adriana-monteiro-martani-41b237221?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                            <i class="fa fa-linkedin linkedin-icon"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <b>Matheus Galdino Xavier - RA: 082210042</b>
                    <span class="align-right">
                        <a href="https://github.com/gscarabeli" target="_blank">
                            <i class="fa fa-github github-icon"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/matheus-galdino-xavier-48a229226?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                            <i class="fa fa-linkedin linkedin-icon"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </p>
    </div>
</body>