@model List<TorreViewModel>
@{
    ViewData["Title"] = "Torres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="buscaTorres()">
    <h2 class="text-center">Torres</h2>
    <br />
    <fieldset id="areaFiltroTorres" class="form-group">
        <div class="row justify-content-center">
            <div class="col-lg-1">
                Código <br />
                <input type="text" id="codigoTorre" class="form-control" />
            </div>
            <div class="col-lg-4">
                Nome <br />
                <input type="text" id="nomeTorre" class="form-control" />
            </div>
            <div class="col-lg-1">
                <br />
                <input type="button" id="btnFiltroTorres" class="btn btn-info" value="Aplicar"
                       onclick="buscaTorres()" />
            </div>
        </div>
    </fieldset>

    <br />
    <a href="/Torre/Create" class="btn btn-info">Cadastrar nova <u>Torre</u></a>
    <br />
    <br />
    <div id="resultadoConsultaTorres" class="table-responsive"></div>
</body>