<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/img/logo.png" />
    <title>@ViewData["Title"] - StarFlux</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="border: #c7ede8 !important; background-color: #c7ede8 !important; opacity: 77%">
            <div class="container">
                <img style="max-width: 5% !important" src="/img/logo.png" class="logo" alt="Logo da Empresa">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StarFlux</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown" id="homeDropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <div class="dropdown-menu" aria-labelledby="areaAdminDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" id="dashboardDropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dashboards
                            </a>
                            <div class="dropdown-menu" aria-labelledby="areaAdminDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Dashboard" asp-action="Filtros">Dashboard Filtros</a>
                            </div>
                        </li>
                        @if (ViewBag.Logado == true)
                        {
                            if (ViewBag.Administrador == true)
                            {
                                <li class="nav-item dropdown" id="areaAdminDropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Área Administrativa
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="areaAdminDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Apartamento" asp-action="Index">Apartamentos</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Torre" asp-action="Index">Torres</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Habitante" asp-action="Index">Habitantes</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                @if (ViewBag.Logado == true)
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogOff">Logoff</a>
                }
                else
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                }
            </div>
        </nav>
    </header>
    <footer style="border: #c7ede8 !important; background-color: #c7ede8 !important; opacity: 77%">
        <div class="container">
            &copy; 2023 StarFlux - Todos os direitos reservados
        </div>
    </footer>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {

        $('.navbar').mouseenter(function () {
            $(this).css('opacity', '100%');
        });
        $('.navbar').mouseleave(function () {
            $(this).css('opacity', '77%');
        });
        $('footer').mouseenter(function () {
            $(this).css('opacity', '100%');
        });
        $('footer').mouseleave(function () {
            $(this).css('opacity', '77%');
        });

        $('#areaAdminDropdown').hover(function () {
            $(this).addClass('show');
            $(this).find('.dropdown-menu').addClass('show');
        }, function () {
            $(this).removeClass('show');
            $(this).find('.dropdown-menu').removeClass('show');
        });

        $('#homeDropdown').hover(function () {
            $(this).addClass('show');
            $(this).find('.dropdown-menu').addClass('show');
        }, function () {
            $(this).removeClass('show');
            $(this).find('.dropdown-menu').removeClass('show');
        });

        $('#dashboardDropdown').hover(function () {
            $(this).addClass('show');
            $(this).find('.dropdown-menu').addClass('show');
        }, function () {
            $(this).removeClass('show');
            $(this).find('.dropdown-menu').removeClass('show');
        });
    });
</script>