@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Oops</h1>
<h2 class="text-danger">Ocorreu um erro durante o processamento da sua requisição.</h2>
<br />
<a href="/Home/Index">Voltar para a página inicial</a>
<br />
<code class="text-danger">
    @Model.Erro
</code>
