@model UsuarioViewModel
@{
    ViewData["Title"] = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="text-center">
    <h1>Cadastro de Usuários</h1>
    <br />
    <br />
    <div class="row justify-content-center">
        <form action="Save" method="post" class="col-md-6" enctype="multipart/form-data">

            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

            <label for="Id" class="control-label">ID</label>
            <input asp-for="ID" class="form-control" readonly />

            <span asp-validation-for="ID" class="text-danger"></span>
            <br />

            <label for="Login" class="control-label">Login</label>
            <input asp-for="Login" required class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
            <br />

            <label for="Senha" class="control-label">Senha</label>
            <input type="password" asp-for="Senha" required class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
            <br />

            <label for="Administrador" class="control-label">Administrador?</label>
            <select asp-for="Administrador" class="form-control">
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
            <span asp-validation-for="Administrador" class="text-danger"></span>
            <br />

            <br />
            <input type="submit" value="Salvar dados" class="btn btn-info" />
            <br />
        </form>
    </div>
</body>