@{
    ViewData["Title"] = "Vazão em Tempo Real";
}

<body class="text-center">
    <h1>Vazão de Água em Tempo Real</h1>
    <br />

<div class="col-lg-3">
    Apartamento <br />
    <select id="entidade" class="form-control" asp-items="@ViewBag.ApartamentosSensores"></select>
</div>

<br />
<br />

<div id="vazaoContainer" style="background-color: #c7ede8; border-radius: 20px">
    <canvas id="vazaoChart" width="400" height="200"></canvas>
</div>

<script>
    $(document).ready(function () {
        var ctx = document.getElementById('vazaoChart');
        var vazaoChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [0],
                datasets: [{
                    label: 'Vazão de Água (L/min)',
                    data: [0],
                    fill: false,
                    borderColor: '#1693a5',
                    tension: 0.1
                }]
            }
        });

        function addDataToChart(timestamp, vazao) {
            if (vazaoChart.data.datasets[0].data.length >= 15) {
                vazaoChart.data.labels.shift();
                vazaoChart.data.datasets[0].data.shift();
            }
            vazaoChart.data.labels.push(timestamp);
            vazaoChart.data.datasets[0].data.push(vazao);
            vazaoChart.update();
        }

        var entidadeAtual = null;

        function updateChart() {
            var entidade = document.getElementById("entidade").value;

            if (entidade !== entidadeAtual) {
                vazaoChart.data.labels = [];
                vazaoChart.data.datasets[0].data = [];

                entidadeAtual = entidade;
            }

            $.ajax({
                url: '/Dashboard/GetVazaoTempoReal',
                type: 'GET',
                data: {
                    entidade: entidade
                },
                success: function (data) {
                    addDataToChart(data.timestamp, data.vazao);
                    console.log(data);
                },
                error: function () {
                    console.error('Erro ao obter dados de vazão em tempo real.');
                }
            });
        }

        setInterval(updateChart, 2000);
    });
</script>